* {
    margin: 0px;
}

body {
    background-color: rgb(76, 76, 75);
}

.page {
    display: grid;
    grid-template-columns: minmax(150px, 15vw) 1fr;
    grid-template-rows: 200px calc(100vh - 200px);
}

.sidebar {
    border-color: black;
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: black;
}

.name {
    border-color: black;
    background-color: rgb(9, 85, 129);
}

.content {
    border-color: black;
    background-color: rgb(188, 189, 189);
}

.container {
    display: grid;
    grid-template: 1fr / 3fr 1fr;

}

.card {
    background-color: whitesmoke;
    height: 400px;
}

.cards {
    display: grid;
    background-color: rgb(76, 76, 75);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px;
}